# Turn off Directory Indexing & MultiViews
Options -Indexes -MultiViews

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Handle Custom SAFA Security Headers
    RewriteCond %{HTTP:X-SAFA-API-KEY} .
    RewriteRule .* - [E=HTTP_X_SAFA_API_KEY:%{HTTP:X-SAFA-API-KEY}]
    RewriteCond %{HTTP:X-SAFA-SIGNATURE} .
    RewriteRule .* - [E=HTTP_X_SAFA_SIGNATURE:%{HTTP:X-SAFA-SIGNATURE}]
    RewriteCond %{HTTP:X-SAFA-TIMESTAMP} .
    RewriteRule .* - [E=HTTP_X_SAFA_TIMESTAMP:%{HTTP:X-SAFA-TIMESTAMP}]
    RewriteCond %{HTTP:X-SAFA-NONCE} .
    RewriteRule .* - [E=HTTP_X_SAFA_NONCE:%{HTTP:X-SAFA-NONCE}]

    # Handle X-XSRF-Token Header
    RewriteCond %{HTTP:x-xsrf-token} .
    RewriteRule .* - [E=HTTP_X_XSRF_TOKEN:%{HTTP:X-XSRF-Token}]

    # Block access to hidden dotfiles (e.g. .env, .git, .gitignore, .htaccess)
    RewriteRule (^\/|\/|\.)\.(?!well-known) - [F,L]

    # Block direct web access to sensitive system files & internal directories
    RewriteRule ^(\.env|\.git|app|bootstrap|config|database|resources|routes|storage|tests|vendor|composer\.(json|lock)|package\.(json|lock)|artisan|phpunit\.xml) - [F,L]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

# Fallback Access Denial for Apache 2.2 / 2.4 / LiteSpeed
<FilesMatch "^\.|\.env|composer\.(json|lock)|package\.(json|lock)|artisan|phpunit\.xml|README\.md">
    <IfModule mod_authz_core.c>
        Require all denied
    </IfModule>
    <IfModule !mod_authz_core.c>
        Order allow,deny
        Deny from all
    </IfModule>
</FilesMatch>
