<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Prevent direct access to sensitive files
    <FilesMatch "^\.env|^\.git|composer\.(json|lock)|package\.(json|lock)">
        Order allow,deny
        Deny from all
    </FilesMatch>

    # Preserve Authorization and Custom SAFA Headers
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
    RewriteCond %{HTTP:X-SAFA-API-KEY} .
    RewriteRule .* - [E=HTTP_X_SAFA_API_KEY:%{HTTP:X-SAFA-API-KEY}]
    RewriteCond %{HTTP:X-SAFA-SIGNATURE} .
    RewriteRule .* - [E=HTTP_X_SAFA_SIGNATURE:%{HTTP:X-SAFA-SIGNATURE}]
    RewriteCond %{HTTP:X-SAFA-TIMESTAMP} .
    RewriteRule .* - [E=HTTP_X_SAFA_TIMESTAMP:%{HTTP:X-SAFA-TIMESTAMP}]
    RewriteCond %{HTTP:X-SAFA-NONCE} .
    RewriteRule .* - [E=HTTP_X_SAFA_NONCE:%{HTTP:X-SAFA-NONCE}]

    # Redirect all requests to the public directory
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
